button {
    border: none;
    background-color: rgb(49, 49, 47);
    font-size: 30px;
    color: rgb(237, 224, 224);
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    transition: transform 0.3s;
  }
  
  button:hover {
    background-color: rgb(62, 63, 54);
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(99, 100, 92);
  }
  
  .equals:hover {
    background-color: rgb(92, 93, 88);
  }