@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
  font-style: italic;
  font-size: 50px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6cec2e1;
  background-image: url("./folder/img3.jpg");
  background-size: 1100px 750px;
  background-position: center;
  background-size: cover;
}
